<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dwarf Boi Names</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script
	src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

	<style>
		header, footer, .section-one{
			text-align:center;
		}
	</style>
</head>
<body>


<div class="container">
	<header>
		<div class="row">
			<div class="col-12">
				<h1>Welcome to Dwarf Boi Generator</h1>
			</div>
		</div>
	</header>
	<section class="section-one">
		<div class="row">
			<div class="col-12">
				<p>Click the button below to generate 10 dwarf bois</p>
				<button class="btn btn-primary GenerateButton">Generate!</button>
				<div class="dwarf-names"></div>
			</div>
		</div>
	</section>
	<footer>
		<p>This is a multiple Robert's Production</p>
	</footer>
</div>


<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
